.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.customer {
    margin-left: auto;
}

.customer span {
    width: 18px;
    height: 18px;
    padding: 3px;
}

.logo {
    font-family: "Mina";
}

.dash {
    font-weight: 700;
    letter-spacing: 0%;
    color: var(--third-color);
    margin: 0px 12px;
}

.title {
    padding: 7px 0px;
}

.productsNav {
    padding-top: 4px;
}

.productsNav ul li {
    padding: 8px 0px;
    margin-bottom: 16px;
}

.cards {
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    max-width: calc(33.3333% - (48px/3));
    padding-bottom: 24px;
}

.card img {
    max-width: 100%;
    display: block;
}

.pages ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4px;
}

.pages li:hover {
    background: #F8F9FA;
}

.pages li:active {
    background: #C0FA73;
}

.pages li a {
    display: block;
    padding: 8px;
    font-weight: 400;
}

.banner {
    text-align: center;
    background: #E8FEC5;
    padding: 33.5px 0px;
    margin-bottom: 64px;
}

.banner button {
    padding: 12px 24px;
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 5%;
    background: var(--primary-color);
    color: #FFFFFF;
}

.footerlink {
    align-items: center;
    margin-left: auto;
}

.copyright {
    padding-top: 32px;
    border-top: 1px solid var(--third-color);
    margin-bottom: 64px;
}

.copyright p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 5%;
    color:var(--forth-color);
    text-align: center;
}

.shoesimg {
    flex-wrap: wrap;
    gap: 8px;
}

.shoesimg img {
    max-width: 369px;
    display: block;
}

.normalprice {
    margin-left: 8px;
    color: var(--fifth-color);
    font-size: 14px;
    line-height: 150%;
    text-decoration: line-through;
}

.productIntro {
    max-width: 526px;
}

.color {
    text-align: center;
    max-width: 64px;
}

.color img {
    max-width: 100%;
    display: block;
}

.sizes {
    flex-wrap: wrap;
    gap: 8px;
}

.sizes a {
    box-sizing: border-box;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    padding: 12px 24px;
    width: 160px;
    text-align: center;
}

.abled:hover {
    border: 1px solid #6C757D;
}

.abled:active {
    border: 1px solid var(--primary-color);
}

.disabled {
    color: #6C757D;
    border: 1px solid #DEE2E6;
}

.reserve {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 5%;
    color: #D74F4F;
    margin-bottom: 48px;
}

.like,
.keep {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    width: 50%;
    text-align: center;
}

.like p,
.keep p {
    padding: 12px 0px;
}

.like:hover,
.keep:hover {
    background: var(--primary-color);
}

.like p:hover,
.keep p:hover {
    color: #FFFFFF;
}

.caption {
    padding-top: 12px;
    padding-bottom: 4px;
}

.text h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 5%;
}

.text li {
    font-weight: 400;
    color: #6C757D;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 5%;
    width: 526px;
}

.text p {
    font-weight: 400;
    color: #6C757D;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 5%;
    padding-bottom: 12px;
    width: 526px;
}

.bestseller {
    padding: 48px 0px;
    margin-bottom: 40px;
}