.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.df {
    display: flex;
}

body {
    font-family: "Noto Sans TC";
}

h2 {

    font-size: 32px;
    line-height: 120%;
    letter-spacing: 5%;
}

h3 {
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 5%;
    color: #212529;
}

h4 {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 5%;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 5%;
    color: #212529;
}

a {
    text-decoration: none;
    color: #212529;
}

.row {
    margin: 0px -12px;
    display: flex;
}

.col-2 {
    width: 16.66666%;
    padding: 0px 12px;
}

.col-3 {
    width: 25%;
    padding: 0px 12px;
}

.col-5 {
    width: 41.6666%;
    padding: 0px 12px;
}

.col-7 {
    width: 58.3333%;
    padding: 0px 12px;
}

.col-10 {
    width: 83.3333%;
    padding: 0px 12px;
}

.customer {
    margin-left: auto;
}

.customer span {
    width: 18px;
    height: 18px;
    padding: 3px;
}

.logo {
    font-family: "Mina";
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 4.4%;
    color: #212529;
    padding: 8px 12px;
    margin-right: 48px;
}

.link {
    align-items: center;
}

.link a {
    padding: 12px 0px;
}

.nav {
    align-items: center;
    padding: 16px 0px;
}

.dash {
    font-weight: 700;
    letter-spacing: 0%;
    color: #DEE2E6;
    margin: 0px 12px;
}

.header {
    margin-top: 32px;
    margin-bottom: 24px;
}

.title {
    padding: 7px 0px;
    margin-bottom: 24px;
}

.products {
    margin-bottom: 32px;
}

.productsNav {
    padding-top: 4px;
}

.productsNav ul li {
    padding: 8px 0px;
    margin-bottom: 16px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    gap: 24px;
}

.card {
    max-width: calc(33.3333% - (48px/3));
    padding-bottom: 24px;
}

.card img {
    max-width: 100%;
    display: block;
    margin-bottom: 12px;
}

.products {
    margin-bottom: 80px;
}

.productName {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 5%;
}

.pages ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px 4px;
}

.pages li:hover {
    background: #F8F9FA;
}

.pages li:active {
    background: #C0FA73;
}

.pages li a {
    display: block;
    padding: 8px;
    font-weight: 400;
}

.banner {
    text-align: center;
    background: #E8FEC5;
    padding: 33.5px 0px;
    margin-bottom: 64px;
}

.banner h2 {
    font-weight: 700;
}

.banner button {
    padding: 12px 24px;
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 5%;
    background: #212529;
    color: #FFFFFF;
}

.footerNav {
    margin-bottom: 24px;
}

.footerlink {
    align-items: center;
    margin-left: auto;
}

.copyright {
    padding-top: 32px;
    border-top: 1px solid #DEE2E6;
    margin-bottom: 64px;
}

.copyright p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 5%;
    color: #6C757D;
    text-align: center;
}

.shoesimg {
    flex-wrap: wrap;
    gap: 8px;
}

.shoesimg img {
    max-width: 369px;
    display: block;
}

.product {
    padding: 64px 0px;
}

.normalprice {
    margin-left: 8px;
    color: #ADB5BD;
    font-size: 14px;
    line-height: 150%;
    text-decoration: line-through;
}

.productIntro {
    width: 526px;
}

.color {
    text-align: center;
    max-width: 64px;
    margin-right: 8px;
}

.color img {
    max-width: 100%;
    display: block;
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.sizes a {
    box-sizing: border-box;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    padding: 12px 24px;
    width: 160px;
    height: 48px;
    text-align: center;
}

.abled:hover {
    border: 1px solid #6C757D;
}

.abled:active {
    border: 1px solid #212529;
}

.disabled {
    color: #6C757D;
    border: 1px solid #DEE2E6;
}

.reserve {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 5%;
    color: #D74F4F;
    margin-bottom: 48px;
}

.like,
.keep {
    border: 1px solid #212529;
    border-radius: 4px;
    width: 50%;
    text-align: center;
}

.like p,
.keep p {
    padding: 12px 0px;
}

.like:hover,
.keep:hover {
    background: #212529;
}

.like p:hover,
.keep p:hover {
    color: #FFFFFF;
}

.caption {
    padding-top: 12px;
    padding-bottom: 4px;
}

.text {
    padding-bottom: 12px;
    border-bottom: 1px solid #DEE2E6;
    width: 526px;
}

.bestseller {
    padding: 48px 0px;
    margin-bottom: 40px;
}


.mr8 {
    margin-right: 8px;
}

.mr40 {
    margin-right: 40px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb32 {
    margin-bottom: 32px;
}

.fw400 {
    font-weight: 400;
}

.fw700 {
    font-weight: 700;
}

.gray {
    color: #6C757D;
}

.green {
    color: #57A203;
}